<button routerLink="/crisis-center" routerLinkActive="active">Link1</button>
<button routerLink="/heroes" routerLinkActive="active"  
[routerLinkActiveOptions]="{exact:
    true}">Link 2</button>
<button routerLink="/hero-list" routerLinkActive="active" 
#rx="routerLinkActive"
>Link 3</button>
<button [routerLink]="[{ outlets: { popup: ['compose', 5] } }]">Contact</button>
<br>
----------*********_________

<router-outlet></router-outlet>


<br>
<router-outlet name="popup"></router-outlet>
<!-- <app-hero-list></app-hero-list> -->